<div class="postcontainer">
    <div class="card">
 <div class="card-header">
      <h2>  {{post.title}}</h2>
       <p>
        Posted by {{post.user.name}} on {{format_date post.createdAt}}.
    </p>
    </div>
    <div class="card-body">
    <p>
        {{post.description}}
    </p>
    </div>
    {{#each comments as |comment|}}
    <div>
        {{comment.user.name}} on {{format_date comment.createdAt}}:
        <br>
        <br>
        {{comment.description}}
    </div>
    {{/each}}
</div>
</div>

{{#if logged_in}}
<form id="newComment">
    <textarea placeholder="What would you like to say about this?" id="commentDesc"
        data-post_id="{{post.id}}"></textarea>
    <div>
        <p>
            <button type="submit">
                Add Comment
            </button>
        </p>
    </div>
</form>

</div>
{{/if}}


<script src="/js/new-comment.js"></script>